@font-face {
    font-family: "Main";
    src: url('accent-font.otf');
}

@font-face {
    font-family: "Descriptor";
    src: url('descriptor-font.otf');
}

* {
    color: white;
}


body {
    background-color: #111;
}

#navbar {
    background: #222;
    position: fixed;
    top: 0px;
    left: -10px;
    width: 100%;
    padding-left: 10vw;
}

.flex-left {
    display: flex;
    flex-flow: row nowrap;
}

.flex-right {
    display: flex;
    flex-flow: row-reverse nowrap;
}

#navbar > * {
    display: inline;
}

.bold {
    font-family: "Main";
}

:not(.bold) {
    font-family: 'Descriptor';
}

.big {
    font-size: larger;
}

#edit-name-dialog-container {
    width: 100%;
    height: 100%;
}

dialog {
    background-color: #222;
}

button {
    background-color: #333;
}