@font-face {
    font-family: "Main";
    src: url('accent-font.otf');
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -9999999;
}

* {
    font-family: "Main", sans-serif;
}

#logo {
    transform: rotate(-10deg) translate(-20%, 0%);
    width: 160vw;
    padding: 3rem;
    background-color: #ae2012;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border: 10% solid white;
}

.big {
    font-size: 200%;
}

.stripe {
    transform: rotate(-10deg) translate(5%, 0%);
    width: 160vw;
    padding: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.transparent {
    background-color: transparent;
    border: transparent;
}

.white {
    color: white;
}

.outlined {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.no-scroll {
    overflow: hidden;
}

.center-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.vert-flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

@media (pointer:none), (pointer:coarse) {
    .main {
        display: flex;
        flex-flow: column wrap !important;
        justify-content: space-evenly !important;
        align-items: space-evenly !important;
    }

    textarea, input {
        background-color: #222;
        color: white;
        font-size: 200%;
        width: 50% !important;
    }

    .stripe {
        transform: rotate(-10deg) translate(-20%, 0%);
        width: 160vw;
        padding: 3rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
}

textarea, input {
    background-color: #222;
    color: white;
    font-size: 200%;
    width: 20%;
}

button {
    border-radius: 10%;
    background-color: #0a0a0a;
    color: white;
    font-size: large;
    padding: 1%;
}

.flex-row {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

button.special {
    background-color: #ae2012;
    z-index: 5;
}