* {
    font-family: "Russo One", sans-serif;
}

#logo {
    transform: rotate(-10deg) translate(-20%, 0%);
    width: 160vw;
    padding: 3rem;
    background-color: #ae2012;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border: 10% solid white;
}

.big {
    font-size: 200%;
}

.stripe {
    transform: rotate(-10deg) translate(-20%, 0%);
    width: 160vw;
    padding: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.transparent {
    background-color: transparent;
    border: transparent;
}

.white {
    color: white;
}

.outlined {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.no-scroll {
    overflow: hidden;
}

.center-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.vert-flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

@media (pointer:none), (pointer:coarse) {
    .main {
        display: flex;
        flex-flow: column wrap !important;
        justify-content: space-evenly !important;
        align-items: space-evenly !important;
    }

    textarea, input {
        background-color: #222;
        color: white;
        font-size: 200%;
        width: 50% !important;
    }
}

textarea, input {
    background-color: #222;
    color: white;
    font-size: 200%;
    width: 20%;
}
